* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  background-color: maine-backGround-color;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: maine-page-width;
  height: 100vh;
}

// .page-wrapper {
//   // height: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   flex-basis: 100%;
// }
