* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-wrapper {
  background-color: white;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  //BreakPoints
  // @media (max-width: 360.99px) {
  // }
  // @media (max-width: 640,99px) {
  // }
  // @media (max-width: 800,99px) {
  // }
  // @media (max-width: 1280,99px) {
  // }
  // @media (max-width: 1600,99px) {
  // }
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
