//Sizes
$maine-page-width: 100vw;

//colors
$basic-color: white;
$maine-color: #35498e;
$maine-color-orange: #ff9800;
$maine-color-green: #358e35;
$maine-backGround-color: white;

// fonts
$maine-font: "Quicksand", sans-serif;
$maine-font2: "Roboto Slab", serif;
$quote-font: "Courgette", cursive;

html {
  font-size: 10px;
}

h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.8rem;
}
p {
  font-size: 1.8rem;
  text-decoration: none;
  list-style: none;
}

a:link {
  text-decoration: none;
}
// a:visited {
//   text-decoration: none;
// }
// a:active {
//   text-decoration: none;
// }
// a:hover {
//   text-decoration: underline;
// }
//BreakPoints
// @media (max-width: 360.99px) {
// }
// @media (max-width: 640.99px) {
// }
// @media (max-width: 800.99px) {
// }
// @media (max-width: 1024.99px) {
// }
// @media (max-width: 1280.99px) {
// }
// @media (max-width: 1600.99px) {
// }
