//Sizes
$maine-page-width: 100vw;

//colors
$maine-color: #35498e;
$maine-color-orange: #ff9800;
$maine-backGround-color: white;

// fonts
$maine-font: "Quicksand', sans-serif";
$maine-font2: "Roboto Slab", serif;

html {
  font-size: 10px;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}
