.wraper-contact-page {
  max-width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  overflow: hidden;
}

.contact-title-box {
  height: 100px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  width: 100vw;
  justify-content: center;

  &__maine-title {
    font-size: 3rem;
    display: flex;
    color: $maine-color;
    margin-bottom: 20px;
  }
  &__maine-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 0px;
    top: 50px;
    bottom: -20px;
    left: 0;
    border-top: $maine-color-orange solid 2px;
    right: 0;
    text-align: center;
    margin: 0 auto;
    align-items: center;
  }
}

.map {
  flex-grow: 3;
  border: solid 2px black;
  margin: 0 50px;

  &__marker {
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
    padding: (5px 5px);
    display: block;
    color: $maine-color-orange;
    width: 60px;
    line-height: 100%;
    background-color: $maine-color;
  }
}

.information {
  align-content: center;
  border: solid black 2px;
  height: 400px;
  width: 100px;
  flex-grow: 1;

  &__title {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    color: $maine-color;
    font-size: 3rem;
  }
  &__subtitle {
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }
}
.phone-button {
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 25px 20px;
  margin: 20px auto;
  border-radius: 5px;
  text-decoration: none;
  color: $basic-color;
  background-color: $maine-color-green;
  text-transform: uppercase;

  &__icon {
    display: flex;
    flex-grow: 1;
    margin: 0px 15px;
  }
  &__information-on-button {
    display: flex;
    flex-grow: 3;
    text-transform: uppercase;
  }
}
.phone-number {
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 10px 30px;
  margin: 10px auto;
  border-radius: 5px;
  text-decoration: none;
  font-size: 2rem;

  &__icon {
    display: flex;
    margin: 0px 15px;
  }
}
