.wraper-contact-page {
  max-width: 100vw;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  overflow: hidden;
}

.contact-title-box {
  height: 100px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  width: 100vw;
  justify-content: center;

  &__maine-title {
    font-size: 3rem;
    display: flex;
    color: $maine-color;
    margin-bottom: 20px;
  }
  &__maine-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 0px;
    top: 50px;
    bottom: -20px;
    left: 0;
    border-top: $maine-color-orange solid 2px;
    right: 0;
    text-align: center;
    margin: 0 auto;
    align-items: center;
  }
}

.map {
  flex-grow: 3;
  border: solid 2px black;
  margin: 0 50px;
}

.information {
  align-content: center;
  border: solid black 2px;
  height: 400px;
  width: 100px;

  flex-grow: 1;
  &__title {
    display: flex;
    justify-content: center;
    color: $maine-color;
    font-size: 3rem;
  }
  &__subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
