.footer-wrapper {
  align-self: flex-end;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  width: $maine-page-width;
  align-items: flex-start;
  background-color: $maine-color;
  padding: 20px 100px;
  line-height: 2;

  &__hours-information {
    // line-height: 1.5;
    margin: 0 20px;
    flex-grow: 5;
  }
  &__contact-information {
    // line-height: 1.5;
    margin: 0 20px;
    flex-grow: 5;
  }
  &__adress-information {
    // line-height: 1.5;
    margin: 0 20px;
    flex-grow: 5;
  }
  // &__contact-information i {
  // }
  &__author {
    margin: 0 20px;
    flex-grow: 1;
    display: block;
    text-decoration: none;
    color: black;
    opacity: 0.2;
    align-self: center;
  }
  &__author:hover {
    opacity: 1;
  }

  .footer-group-name {
    color: $maine-color-orange;
  }
}
.fas {
  margin-right: 5px;
}
.far {
  margin-right: 5px;
}
@media (max-width: 360.99px) {
  .footer-wrapper {
    padding: 10px 30px;
  }
  .footer-group-name {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 640.99px) {
  .footer-wrapper {
    padding: 10px 30px;
  }
  .footer-group-name {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 1024.99px) {
  .footer-wrapper__author {
    text-align: center;
  }
  .footer-wrapper {
    padding: 10px 30px;
  }
  .footer-group-name {
    margin: 20px 0 0 0;
  }
}
