.home-page-wraper {
  position: relative;
  height: 80%;
  background-color: white;
  width: 100%;
  background-image: url("../img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  // &__shadow-bacground {
  //   z-index: 0;
  //   height: 100%;
  //   width: 100%;
  //   opacity: 0.4;
  //   background-color: rgb(0, 0, 0);
  // }
}
.logo-motto-home-page {
  width: 100%;
  text-align: center;
  color: $maine-color;
  margin: 20px 10px;
  font-size: 2.5rem;
}

.titleHomPage {
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  position: absolute;
  left: 140px;
  top: 80px;
  display: block;
  color: $maine-color-orange;
  padding: 20px 50px;
  border-radius: 5px;
  width: 800px;

  &__maine-title-home-page {
    font-size: 5rem;
    text-align: center;
  }
  &__logoFord {
    display: flex;
    margin: 0 auto;
  }

  &__subtitel {
    letter-spacing: 2px;
    line-height: 2;
    font-family: $quote-font;
    color: $basic-color;
    text-align: center;
    margin-top: 15px;
  }
  &__button-call {
    display: flex;
    margin: 40px 5px 15px 480px;
    font-size: 2.2rem;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 20px 40px;
    color: $basic-color;
    background-color: $maine-color-green;
    border: none;
    text-transform: uppercase;
    animation-delay: 4s;
  }

  &__button-call:hover {
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: $maine-color-orange;
    background-color: $maine-color;
    cursor: pointer;
  }
}
@media (max-width: 360.99px) {
  .titleHomPage {
    width: 100%;
    top: 0px;
    left: 0;
    margin: 0px auto 0px auto;
  }
  .titleHomPage__maine-title-home-page {
    font-size: 3rem;
    text-align: center;
  }
  .titleHomPage__logoFord {
    margin: 0 auto;
  }
  .titleHomPage__button-call {
    margin: 50px auto 10px auto;
  }
}
@media (max-width: 640.99px) {
  .titleHomPage {
    top: 0px;
    width: 100%;
  }
  .titleHomPage__button-call {
    margin: 25px auto;
  }
}
@media (max-width: 800.99px) {
  .titleHomPage {
    width: 100%;
    left: 0;
    top: 0px;
  }
  .titleHomPage__button-call {
    margin: 25px auto;
  }
}

@media (min-width: 1024px) {
  .logo-motto-home-page {
    display: none;
  }
}
@media (max-width: 1024px) {
  .titleHomPage {
    width: 100%;
    left: 0;
  }
  .titleHomPage__button-call {
    margin: 25px auto;
  }
}

// @media (max-width: 1280.99px) {
// }
@media (min-width: 1400px) {
  .titleHomPage {
    left: 240px;
    top: 100px;
  }
}
// @media (max-width: 1600.99px) {
// }
