.navigation-wrapper {
  height: 90px;
  flex-direction: row;
  width: 100vw;
  max-width: $maine-page-width;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  // box-shadow: 3px 1px 10px -10px rgba(0, 0, 0, 0.35); WR
  border-bottom: solid 0.5px $maine-color-orange;
  margin-bottom: 10px;
}
.logo {
  display: flex;
  flex-grow: 4;
  align-items: center;
  margin-left: 50px;

  &__motto {
    display: flex;
    color: $maine-color;
    margin-left: 35px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.navigation {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  font-size: 2rem;
  flex-grow: 1;
  margin-right: 80px;
  @media (max-width: 800px) {
    margin-right: 20px;
  }

  &__item {
    list-style-type: none;
    text-transform: uppercase;
    padding: 30px 15px;
  }

  &__link {
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 5px 15px;
  }
  &__link:hover {
    background-color: $maine-color;
    color: $maine-color-orange;
    transition: 0.4s;
    cursor: pointer;
  }
  &__link--active {
    background-color: $maine-color;
    color: $maine-color-orange;
  }
}
.navLink {
  text-decoration: none;
}
