.services-page-wrapper {
  padding: 5px 100px;
  width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title-box {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  width: 80vw;
  text-align: center;
  justify-content: center;

  &__maine-title {
    font-size: 3rem;
    display: flex;
    color: $maine-color;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  &__maine-title::before {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 0px;
    bottom: -20px;
    left: 0;
    border-top: $maine-color-orange solid 2px;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }

  &__subtitle {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
.product-box:hover {
  box-shadow: 8px 2px 34px -1px rgba(0, 0, 0, 0.27);
  transform: translateY(-10px);
  border: solid 2px $maine-color;
}
.product-box {
  margin: 30px 0px;
  flex-wrap: wrap;
  display: flex;
  max-width: 400px;
  border: solid 2px black;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
  transition: 0.6s;

  &__title {
    display: flex;
    align-self: flex-start;
  }

  &__description {
    text-align: center;
    display: block;
    padding: 15px;
  }
  &__button {
    margin-top: 10px;
    font-size: 1.7rem;
    background-color: rgb(100, 189, 100);
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    background-color: #35498e;
  }
  &__button:hover {
    border-radius: 5px;
    display: block;
    text-decoration: none;
    background-color: #358e35;
  }
}
.icon {
  transform: translateY(-30px);
  margin: 0px 80px;
  display: flex;
  width: 60px;
  height: 60px;
  display: block;
  font-size: 3rem;
  background-color: $maine-color-orange;
  border-radius: 50%;

  &__i {
    line-height: 100%;
    margin-top: 50%;
    transform: translateY(-50%);
    display: block;
    text-align: center;
  }
}

// .navigation__link:hover {
//   background-color: #35498e;
//   color: #ff9800;
//   -webkit-transition: 0.4s;
//   transition: 0.4s;
//   cursor: pointer;
// }
