
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
   font-size: 10px; 
}
.app-wrapper{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #222;
    max-width: 1200px;
}