
.navigation-wrapper{
    flex-direction: row;
    width: 1200px;
    max-width: 1200px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
}
.logo{
    display: flex;
    flex-grow: 4;

}

.navigation{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 2rem;
    flex-grow:1;
    
    
    &__item{
        list-style-type: none;
        text-transform: uppercase;
        
    }
   
    &__link{
        display: block;
        text-decoration: none;
        padding: 5px 10px;
    }
    &__link:hover{
        background-color: black;
        color:white;
        cursor: pointer;
    }
}

